//import fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

//global variables
$base-font: 'Inter', sans-serif;
$background-color: #93A29B;
$button-color: #DCBF85;
$data-number: gray;
$calc-background-color: rgb(48, 48, 48);
$hover-color: rgb(78, 78, 78);

//importing stylesheets
@import 'components/layout';
@import 'components/button';

