.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inner-container{
    font-family: $base-font;
    border: 1px solid $gray;
    border-radius: 3px;
    padding: 20px;
    .result-panel{
        font-weight: 500;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        min-height: 100px;
        border: 1px solid $gray;
        margin-bottom: 10px;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: repeat(6, 100px);
        row-gap: 5px;
        column-gap: 5px;
    }
}